/* para o index */
.head{
    text-align: center;
    font-family: Arial;
    align-self: center;
    color: rgb(0, 0, 0);
    background-color:aliceblue;
    border-radius: 25px;
}
/* para o index */
.logo{
    align-items: center;
    width: 60px;
}
/* para o index */
.box{
    border: 7px solid #000;
    background-color: #000;
    border-radius: 50px;
    text-align: center;
    color: aliceblue;
    margin-left: 15px;
    margin-right: 15px;
}
/* para o index */
.imgSize{
    width: 700px;
    border-radius: 50px;
    margin-top: 10px;
}
/* para o index */
.btn {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.btn:hover{
    background-color: cadetblue;
}
/* para o index */
.bodyText{
    font-family: fantasy;
    font-size: 30px;
    border: 3px solid #ffffff;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 30px;
    border-radius: 50px;

}
.OrangeP{
    color: coral;
}


/* .bgBody{
    background-position: center; 
    background-image:url(2Iphones.jpg);
}
 */











 * {
    box-sizing: border-box
  }
  
  :root {
    --color-1: #FA3A5B;
    --color-2: #745BDE;
    --color-3: #71F5F0;
    --color-4: #92DE5B;
    --color-5: #FFD36E;
  }
  
  
  .wrapper {
    background: #000;
    line-height: 1;
    min-height: 100%;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 16px);
  }
  
  .h1 {
    font-family: "Exo", sans-serif;
    font-size: 15vw;
    font-weight: 900;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, 
      var(--color-1) 19%, 
      transparent 19%,transparent 20%, 
      var(--color-2) 20%, var(--color-2)  39%,
      transparent 39%,transparent 40%, 
      var(--color-3) 40%,var(--color-3) 59% ,
      transparent 59%,transparent 60%, 
      var(--color-4) 60%, var(--color-4) 79%,
      transparent 79%, transparent 80%, 
      var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  .container {
    padding: 1.5rem;   
    text-align: center;
    background: radial-gradient(circle at 1.4% 1.4% ,var(--color-1) .8%,transparent  .8% ), 
      radial-gradient(circle at 5.5% 3%,var(--color-2) .45% ,transparent .45% ), 
      radial-gradient(circle at 2.5% 3.5%,var(--color-3) .5% ,transparent .5% ), 
      radial-gradient(circle at 4.5% 1.2%,var(--color-4) .25%,transparent .25% ),
  
      radial-gradient(circle at 98% 98% ,var(--color-1) .8%,transparent  .8% ), 
      radial-gradient(circle at 95% 95%,var(--color-2) .45% ,transparent .45% ), 
      radial-gradient(circle at 94.5% 97.5%,var(--color-3) .5% ,transparent .5% ), 
      radial-gradient(circle at 98.5% 95.5%,var(--color-4) .25%,transparent .25% );
  
  
  }
  
  @media screen and (min-width: 768px) {
    .h1 {
      font-size: 6.5rem;
    }
  }
