/* para o index */
.head{
    text-align: center;
    font-family: Arial;
    align-self: center;
    color: rgb(0, 0, 0);
    background-color:aliceblue;
    border-radius: 25px;
}
/* para o index */
.logo{
    align-items: center;
    width: 60px;
}
/* para o index */
.box{
    border: 7px solid #000;
    background-color: #000;
    border-radius: 50px;
    text-align: center;
    color: aliceblue;
    margin-left: 15px;
    margin-right: 15px;
}
/* para o index */
.imgSize{
    width: 700px;
    border-radius: 50px;
    margin-top: 10px;
}
/* para o index */
.btn {
	background-color:#ffffff;
	border-radius:28px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
/* para o index */
.bodyText{
    font-family: fantasy;
    font-size: 30px;
    border: 3px solid #ffffff;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 30px;
    border-radius: 50px;

}
.OrangeP{
    color: coral;
}


/* .bgBody{
    background-position: center; 
    background-image:url(2Iphones.jpg);
}
 */
